<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link href="/styles/Styles.css" rel="stylesheet" />
    <link href="/styles/Header.css" rel="stylesheet" />
    <title>Add your song!</title>
  </head>
  <body>
    <%-include('./modules/header', {user})%>
    <main>
      <form method="post" action="/api/<%=isUpdate?"updateSong":"addSong"%>">
        <div class="form-group">
          <label for="song_name">Title</label>
          <input
            id="song_name"
            name="Name"
            class="form-control"
            type="text"
            value="<%=isUpdate?`${song.Name}`:""%>"
            required
          />
        </div>
        <div class="form-group">
          <label for="song_length">Length</label>
          <input
            id="song_length"
            name="Length"
            class="form-control"
            type="number"
            <%=isUpdate?`value=${song.Length}`:""%>
            required
          />
        </div>
        <div class="form-group">
          <label for="song_album">Album</label>
          <select class="form-control" name="Album" id="song_album">
            <option value=""></option>
            <% for (let album of albums) { %>
            <option <%=isUpdate && (album.Name === song.Album)?`selected`:""%> value="<%= album.Name %>"><%= album.Name%></option>
            <%}%>
          </select>
        </div>
        <div class="form-group">
          <label for="song_release">Release date</label>
          <input
            name="ReleaseDate"
            id="song_release"
            class="form-control"
            type="date"
            <%=isUpdate?`value=${song.ReleaseDate.toISOString().split('T')[0]}`:""%>
            required
          />
        </div>
        <input
          value="<%=isUpdate?"Update song":"Add song"%>"
          type="submit"
          class="form-control btn btn-primary"
        />
      </form>
      <%if(isUpdate){%>
            <form action="/api/uploadSongCover?Name=<%=song.Name%>" method="post" enctype="multipart/form-data">
        <label for="cover">Cover</label>
        <input
          type="file"
          id="cover"
          name="cover"
          accept="image/png, image/jpeg"
        />
        <input type="submit" />
      </form>
      <%}else{%>
          <form method="post" action="/api/addSongFm" enctype="application/x-www-form-urlencoded">
            <label for="sName">Song Title</label>
            <input type="text" name="Name" id="sName" />
            <input type="submit" />
          </form>
        <%}%>
    </main>
  </body>
</html>
