<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Profile</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link href="/styles/LoginRegister.css" rel="stylesheet" />
    <link href="/styles/styles.css" rel="stylesheet" />
  </head>

  <body>
    <div
      class="container-lg w-100 h-100 d-flex align-items-center justify-content-center"
    >
      <div class="card">
        <div class="tab-content card-body">
          <h2>Edit Profile</h2>
          <form method="post" action="/api/editProfile">
            <div class="form-group in-1">
              <label for="userName">Name</label>
              <input
                type="text"
                id="userName"
                placeholder="Your Name"
                name="FullName"
                class="form-control"
                value="<%= user.FullName %>"
                required
              />
            </div>
            <div class="form-group in-2">
              <label for="userEmail">Email</label>
              <input
                type="email"
                placeholder="Your Email"
                id="userEmail"
                name="Email"
                class="form-control"
                value="<%=user.Email%>"
                required
              />
            </div>
            <div class="form-group in-3">
              <label for="userPassword">Password</label>
              <input
                type="password"
                id="userPassword"
                name="Password"
                placeholder="Your Password"
                class="form-control"
                value="<%=user.Password%>"
                required
              />
            </div>
            <div class="form-group in-4">
              <label for="userCountry">Country</label>
              <select
                class="form-control"
                name="Country"
                id="userCountry"
                required
              >
                <% for(let country of countries){ %>
                <option value="<%= country.Name %>" <%=(user.Country===country.Name)?"selected":""%>>
                  <%=country.Name%> (<%= country.Abbr%>)
                </option>
                <%}%>
              </select>
            </div>
            <div class="form-group in-5">
              <label for="userDob">Date of birth</label>
              <input
                type="date"
                id="userDob"
                name="DOB"
                class="form-control"
                value="<%= user.DOB.toISOString().split('T')[0] %>"
                required
              />
            </div>
            <%if(isArtist){%>
            <div class="form-group in-8">
              <label for="artistStageName">Stage name</label>
              <input
                type="text"
                id="artistStageName"
                name="StageName"
                class="form-control"
                placeholder="Your Stage Name"
                value="<%=user.isArtist.StageName%>"
                required
              />
            </div>
            <%}%>
            <input class="btn btn-primary in-7" type="submit" value="Update" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
