<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link href="/styles/Styles.css" rel="stylesheet" />
    <link href="/styles/Header.css" rel="stylesheet" />
    <link href="/styles/Profile.css" rel="stylesheet" />
    <title><%=profile.FullName%></title>
  </head>

  <body>
    <%-include('./modules/header', user) %>
    <main>
      <img class="pfp" src="<%=profile.Avatar%>" />

      <h1><%= profile.FullName%></h1>
      <h2><%= profile.Email%></h2>

      <%if(user.FullName === profile.FullName){%>
      <form action="/api/uploadPfp" method="post" enctype="multipart/form-data">
        <label for="avatar">Avatar</label>
        <input
          type="file"
          id="avatar"
          name="avatar"
          accept="image/png, image/jpeg"
        />
        <input type="submit" />
      </form>
      <%}%>
    </main>
  </body>
</html>
