<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= song.song_name %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link href="/styles/Styles.css" rel="stylesheet" />
    <link href="/styles/Header.css" rel="stylesheet" />
    <link href="/styles/Song.css" rel="stylesheet" />
  </head>

  <body>
    <%-include('./modules/Header', {user})%>
    <main class="d-flex">
      <div>
        <img src="<%=song.Cover%>" />
        <h3>
          <%= song.Name %> -
          <a href="/artists/<%= StageName %>"><%= StageName %></a>
        </h3>
        <small><%=formatTime(song.Length)%></small>
        <br />
        <time datetime="<%= song.ReleaseDate.toLocaleDateString()%>"
          ><%=song.ReleaseDate.toLocaleDateString() %></time
        >
        <%if(song.Album){ %>
        <h4>
          <a href="/artists/<%= StageName %>/albums/<%= song.Album %>"
            ><%= song.Album %></a
          >
        </h4>
        <%}%>
      </div>
      <div>
        <% if (!reviews.length) {%>
        <p>no reviews</p>
        <%}%> <% for (let review of reviews) { %>
        <div class="review">
          <p>
            <img class="pfp" src="<%=review.User.Avatar%>" />
            <%if(review.User.Name){%>
            <a href="/profiles/<%=review.User.Name%>"
              ><%= review.User.Name %></a
            >
            <%}else{%>[deleted]<%}%> - <%= review.updatedAt.toLocaleDateString()
            %>
          </p>
          <small><%= review.Stars %> / 5</small>
          <p><%= review.Content %></p>
        </div>
        <% } %>
      </div>
      <% if(user){%>
      <div>
        <h2><%=userReview?"Update":"Add a"%> review</h2>
        <form
          action="/api/<%=!!userReview?'updateReview':'addReview' %>?Song=<%=song.Name%>&Artist=<%=song.Artist%>"
          id="reviewForm"
          method="POST"
        >
          <!-- <input type="hidden" name="Name" value="<%=!!userReview?userReview.User:""%>"> -->
          <div class="form-group">
            <label for="star"
              >Rate (<%=!!userReview? userReview.Stars : 0%>/5)</label
            >
            <input
              id="star"
              name="Stars"
              type="range"
              min="0"
              max="5"
              value="<%=!!userReview? userReview.Stars : 0%>"
              class="form-range"
            />
          </div>
          <div class="form-group">
            <label for="review">Review</label>
            <textarea
              id="review"
              form="reviewForm"
              name="Content"
              class="form-control"
            >
<%=userReview?userReview.Content : ''%></textarea
            >
          </div>
          <input class="form-control btn btn-primary"
          value="<%=!!userReview?"Update review":"Add a review" %>"
          type="submit" />
        </form>
        <%if(!!userReview){%>
        <a
          class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text=<%=escape(`I rated ${song.Name} a ${userReview.Stars}/5\n\n${userReview.Content}`)%>"
          data-size="large"
        >
          Tweet</a
        >
        <%}%>
      </div>
      <%}%>
    </main>
    <script defer>
      document
        .querySelector('input[type="range"]')
        .addEventListener('input', (e) => {
          document.querySelector(
            'label[for="star"]'
          ).textContent = `Rate (${e.currentTarget.value}/5)`;
        });
    </script>
  </body>
</html>
