<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= song.Name %></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link href="/styles/Styles.css" rel="stylesheet" />
    <link href="/styles/Header.css" rel="stylesheet" />
    <link href="/styles/Song.css" rel="stylesheet" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%-include('./modules/Header', {user})%>
    <main class="d-flex">
      <div>
        <img src="<%=song.Cover%>" />
        <h3>
          <%= song.Name %> -
          <a href="/artists/<%= StageName %>"><%= StageName %></a>
        </h3>
        <small><%=formatTime(song.Length)%></small>
        <br />
        <time datetime="<%= song.ReleaseDate.toLocaleDateString()%>"
          ><%=song.ReleaseDate.toLocaleDateString() %></time
        >
        <%if(song.Album){ %>
        <h4>
          <a href="/artists/<%= StageName %>/albums/<%= song.Album %>"
            ><%= song.Album %></a
          >
        </h4>
        <%}%>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#playlistModal"
        >
          Add to playlist
        </button>
      </div>
      <div>
        <% if (!reviews.length) {%>
        <p>no reviews</p>
        <%}%> <% for (let review of reviews) { %>
        <div class="review">
          <p>
            <img class="pfp" src="<%=review.User.Avatar%>" />
            <%if(review.User.Name){%>
            <a href="/profiles/<%=review.User.Name%>"
              ><%= review.User.Name %></a
            >
            <%}else{%>[deleted]<%}%> - <%= review.updatedAt.toLocaleDateString()
            %>
          </p>
          <small><%= review.Stars %> / 5</small>
          <p><%= review.Content %></p>
        </div>
        <% } %>
      </div>
      <% if(user){%>
      <div>
        <h2><%=userReview?"Update":"Add a"%> review</h2>
        <form
          action="/api/<%=!!userReview?'updateReview':'addReview' %>?Song=<%=song.Name%>&Artist=<%=song.Artist%>"
          id="reviewForm"
          method="POST"
        >
          <!-- <input type="hidden" name="Name" value="<%=!!userReview?userReview.User:""%>"> -->
          <div class="form-group">
            <label for="star"
              >Rate (<%=!!userReview? userReview.Stars : 0%>/5)</label
            >
            <input
              id="star"
              name="Stars"
              type="range"
              min="0"
              max="5"
              value="<%=!!userReview? userReview.Stars : 0%>"
              class="form-range"
            />
          </div>
          <div class="form-group">
            <label for="review">Review</label>
            <textarea
              id="review"
              form="reviewForm"
              name="Content"
              class="form-control"
            >
<%=userReview?userReview.Content : ''%></textarea
            >
          </div>
          <input class="form-control btn btn-primary"
          value="<%=!!userReview?"Update review":"Add a review" %>"
          type="submit" />
        </form>
        <%if(!!userReview){%>
        <a
          class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text=<%=escape(`I rated ${song.Name} a ${userReview.Stars}/5\n\n${userReview.Content}`)%>"
          data-size="large"
        >
          Tweet</a
        >
        <%}%>
      </div>
      <%}%>
    </main>
    <!-- Modal -->
    <div
      class="modal fade"
      id="playlistModal"
      tabindex="-1"
      aria-labelledby="playlistModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="playlistModalLabel">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <a id="createP" href="#">Create playlist</a
            ><input
              id="pText"
              class="form-control hidden"
              placeholder="playlist name"
              type="text"
            />
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button id="addP" type="button" class="btn btn-primary hidden">
              Create
            </button>
          </div>
        </div>
      </div>
    </div>
    <script defer>
      let addEvents = () => {
        document.querySelectorAll('.form-check-input').forEach((el) => {
          console.log('a');
          el.addEventListener('click', async (e) => {
            console.log('a');
            if (e.currentTarget.checked) {
              await fetch('/api/addToPlaylist', {
                method: 'POST',
                headers: {
                  Accept: 'application/json',
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  Name: '<%= song.Name %>',
                  Artist: '<%=song.Artist %>',
                  PlaylistName: e.currentTarget.nextElementSibling.innerText,
                }),
              });
            } else {
              await fetch('/api/removeFromPlaylist', {
                method: 'POST',
                headers: {
                  Accept: 'application/json',
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  Name: '<%= song.Name %>',
                  Artist: '<%=song.Artist %>',
                  PlaylistName: e.currentTarget.nextElementSibling.innerText,
                }),
              });
            }
          });
        });
      };
      document
        .querySelector('input[type="range"]')
        .addEventListener('input', (e) => {
          document.querySelector(
            'label[for="star"]'
          ).textContent = `Rate (${e.currentTarget.value}/5)`;
        });

      document
        .querySelector('body > main > div:nth-child(1) > button')
        .addEventListener(
          'click',
          async (e) => {
            let playlists = await fetch('/api/getUserPlaylists', {
              method: 'POST',
              headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                SongName: '<%= song.Name %>',
                Checkboxes: true,
              }),
            });

            let data = (await playlists.json()).data;

            document.querySelector(
              '#playlistModal > div > div > div.modal-body'
            ).innerHTML += data;

            addEvents();
          },
          { once: true }
        );

      let playlistName = document.querySelector('#pText');
      let createButton = document.querySelector('#addP');
      document.querySelector('#createP').addEventListener('click', (e) => {
        e.target.classList.toggle('hidden');
        playlistName.classList.toggle('hidden');
        createButton.classList.toggle('hidden');
      });

      createButton.addEventListener('click', async (e) => {
        await fetch('/api/createPlaylist', {
          method: 'POST',
          headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            Name: playlistName.value,
          }),
        });
        location.reload();
      });
    </script>
  </body>
</html>
